workflow-chatbot-telegram.json
{
  "name": "Joelho de Vó",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "4e53cd22-e901-4e94-8ec3-dc90a51cb348",
      "name": "Telegram Trigger",
      "webhookId": "33f434d9-30c5-42ad-b3a2-8c4918dc65eb",
      "credentials": {
        "telegramApi": {
          "id": "q3hUCncnDTsjq0uQ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Você é um agente responsável por identificar a localização para consulta de clima.\n\nSeu objetivo é analisar mensagens recebidas via Telegram e extrair:\n\n- cidade\n- uf (sigla do estado brasileiro, ex: BA, SP, RJ)\n\nREGRAS GERAIS:\n\n1. Você NÃO informa o clima.\nSeu único trabalho é identificar cidade e uf.\n\n2. Sempre normalize estados brasileiros:\n   - Se o usuário escrever o nome completo do estado, converta para a sigla.\n   Exemplos:\n   - Bahia → BA\n   - São Paulo → SP\n   - Rio de Janeiro → RJ\n   - Santa Catarina → SC\n\n3. Você só pode considerar sucesso quando identificar claramente:\n   - Cidade\n   - Estado (nome completo ou sigla)\n\n4. Se faltar cidade ou estado:\n   - NÃO invente dados.\n   - Defina:\n     - status = \"missing_data\"\n     - cidade = \"\"\n     - uf = \"\"\n\n5. Se houver ambiguidade ou mais de uma localização:\n   - Defina:\n     - status = \"ambiguous\"\n     - cidade = \"\"\n     - uf = \"\"\n\n6. Se encontrar cidade e estado corretamente:\n   - Defina:\n     - status = \"ok\"\n     - cidade = nome da cidade\n     - uf = sigla do estado\n\n7. Regras de formatação:\n   - uf sempre em letras maiúsculas\n   - cidade com escrita normal\n   - nunca usar quebras de linha dentro dos valores\n\n8. Nunca invente informações.\nSeu retorno será usado diretamente em um workflow do n8n.\n\n9. Você deve validar se a cidade realmente pertence ao estado informado.\n\n- Se a cidade não existir naquele estado,\n  defina:\n    status = \"ambiguous\"\n    cidade = \"\"\n    uf = \"\"\n\n- Nunca considere correto apenas porque a cidade e a sigla existem separadamente.\n\n10. Se houver qualquer dúvida sobre a correspondência entre cidade e estado, considere como ambiguous.\n\n11. Sempre use o seu Output Parser pra estruturar seus dados. Siga exatamente o modelo sem adicionar nenhum outro espaço ou \\n. Considera \\n = \"\"\n\n12. Se a mensagem for apenas uma saudação, apresentação ou conversa informal\n   (ex: \"oi\", \"olá\", \"bom dia\", \"tudo bem?\", \"me chamo João\"),\n   e NÃO contiver cidade e estado claramente identificáveis:\n\n   Defina:\n     status = \"missing_data\"\n     cidade = \"\"\n     uf = \"\"\n\n\n13. Nunca tente adivinhar cidade ou estado a partir de contexto implícito.Somente considere válido se cidade e estado estiverem explicitamente informados na mensagem."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        224,
        -64
      ],
      "id": "01f262ad-0b1a-425e-bd4a-3711b3d28324",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f98c9e9b-e060-4c1f-b950-8538e439feed",
              "name": "cidade",
              "value": "={{ $json.output.cidade }}\n\n\n",
              "type": "string"
            },
            {
              "id": "d2a418f9-3e6f-466f-a199-a99caa192da4",
              "name": "uf",
              "value": "={{ $json.output.uf }}\n\n",
              "type": "string"
            },
            {
              "id": "a5a37f7b-f547-4b14-991e-ba06f0bd788b",
              "name": "status",
              "value": "={{ $json.output.status }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        0
      ],
      "id": "363ab2ba-fe89-401a-be12-e7dfce6b01b8",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "modelName": "=models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        192,
        160
      ],
      "id": "68f7c114-2f22-45f8-bfe6-70b713ef2a6d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "EXaNwRopNvriM39Z",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"status\": \"ok\",\n  \"cidade\": \"Salvador\",\n  \"uf\": \"BA\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        432,
        224
      ],
      "id": "590941b6-71ec-436f-bafe-e95deef7d457",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "url": "https://api.openweathermap.org/data/2.5/weather",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $('Edit Fields').item.json.cidade }}"
            },
            {
              "name": "appid",
              "value": "={{ $env.OPENWEATHER_API_KEY }}"
            },
            {
              "name": "units",
              "value": "metric"
            },
            {
              "name": "lang",
              "value": "pt_br"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1024,
        128
      ],
      "id": "42ea188e-c54e-4f77-aa36-f7d1f996afc1",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "49135bb6-b3fb-4af5-98a0-dce20da6cc38",
              "leftValue": "={{ $json.status }}",
              "rightValue": "ambiguous",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "44f80dee-7b98-46e5-b581-aeda167427ae",
              "leftValue": "={{ $json.status }}",
              "rightValue": "missing_data",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        768,
        0
      ],
      "id": "d357a861-5790-44b4-b0b5-735cd5a37a0e",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=👵 Por favor, meu filho, informe um cidade e UF valido pra vê se meu joelho descobre o clima",
        "additionalFields": {
          "appendAttribution": false,
          "disable_web_page_preview": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1136,
        -112
      ],
      "id": "3848721a-43e6-435e-b7cf-51d89ee2f6de",
      "name": "Send a text message1",
      "webhookId": "5d13eea5-ddb6-4b38-b7fe-9cbf7764b485",
      "credentials": {
        "telegramApi": {
          "id": "q3hUCncnDTsjq0uQ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('HTTP Request').item.json.weather[0].main }}",
                    "rightValue": "Clear",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7a47ba77-f6dc-4507-86ac-e88444672f8a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "NaoDoi"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "153b718e-ab23-497a-b240-133638dd9079",
                    "leftValue": "={{ [\"Clouds\",\"Mist\",\"Fog\",\"Drizzle\",\"Haze\",\"Dust\",\"Smoke\"] }}",
                    "rightValue": "={{ $('HTTP Request').item.json.weather[0].main }}",
                    "operator": {
                      "type": "array",
                      "operation": "contains",
                      "rightType": "any"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "DoiLeve"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ef92d210-05f0-4ac6-99a7-4ecfe7f69b03",
                    "leftValue": "={{ [\"Rain\",\"Thunderstorm\",\"Snow\",\"Squall\",\"Tornado\"] }}",
                    "rightValue": "={{ $('HTTP Request').item.json.weather[0].main }}",
                    "operator": {
                      "type": "array",
                      "operation": "contains",
                      "rightType": "any"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "DoiMuito"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1232,
        112
      ],
      "id": "ae497d4d-734d-4c42-95d1-cf0e2142e1c3",
      "name": "Switch"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=📍 Em {{ $('HTTP Request').item.json.name }} o clima é {{ $('HTTP Request').item.json.weather[0].description }}, com temperatura de {{ Math.round($('HTTP Request').item.json.main.temp) }}°C.\n\n👵 “Deu uma repuxadinha aqui,meu filho… melhor sair prevenido.”\n\n",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1648,
        128
      ],
      "id": "11aab953-8c9e-4a4d-9cb8-5a136a9f8bcd",
      "name": "Send a text message2",
      "webhookId": "f862b743-a5ad-4616-a272-85762c2faab0",
      "credentials": {
        "telegramApi": {
          "id": "q3hUCncnDTsjq0uQ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=📍 Em {{ $('HTTP Request').item.json.name }} o clima é {{ $('HTTP Request').item.json.weather[0].description }}, com temperatura de {{ Math.round($('HTTP Request').item.json.main.temp) }}°C.\n\n👵 “Ih meu filho… hoje a rótula latejou bonito! Vem tempo bravo por aí.”\n\n",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1616,
        288
      ],
      "id": "91da28f0-7c5d-495c-962b-5df793d5ef09",
      "name": "Send a text message",
      "webhookId": "f862b743-a5ad-4616-a272-85762c2faab0",
      "credentials": {
        "telegramApi": {
          "id": "q3hUCncnDTsjq0uQ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=📍 Em {{ $('HTTP Request').item.json.name }} o clima é {{ $('HTTP Request').item.json.weather[0].description }}, com temperatura de {{ Math.round($('HTTP Request').item.json.main.temp) }}°C.\n\n👵 “Hoje meu joelho tá quietinho,meu filho… céu firme que é uma beleza!”\n\n",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1552,
        -32
      ],
      "id": "70a70f2f-1245-45a3-9f79-e54a18fd9425",
      "name": "Send a text message3",
      "webhookId": "f862b743-a5ad-4616-a272-85762c2faab0",
      "credentials": {
        "telegramApi": {
          "id": "q3hUCncnDTsjq0uQ",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send a text message3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "aa23521d-8ded-492d-ae0c-45414407801b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "576e2ebc78815ad6d4a52a2587d2445cf1c1cb488886e6d273fea84771bb2e98"
  },
  "id": "_38jPxkS-E2Wlm0NY-inl",
  "tags": []
}